.a  {
background-color: red;
height: 200px;
width: 200px;
}
.b {
background-color: orange;
height: 200px;
width: 200px;
}
.c {
background-color: yellow;
height: 200px;
width: 200px;
}
.d {
background-color: green;
height: 200px;
width: 200px;
}
.e {
background-color: blue;
height: 200px;
width: 200px;
}
.f {
background-color: purple;
height: 200px;
width: 200px;
}
.g {
background-color: pink;
height: 200px;
width: 200px;
}
.h {
background-color: black;
height: 200px;
width: 200px;
}
.i {
background-color: grey;
height: 200px;
width: 200px;
}
img {
size: 100%;
}
